[2016-05-25 21:39] flamingice opened #1 "justatest"
testing nuance

[2016-07-25 22:46] #1 closed

[2016-10-11 11:00] pbca26 opened #6 "known issues"
1) rates update not working properly all the time
2) add wallet modal randomly hides tiles due to unknown bug with port poll

[2016-10-14 10:52] imboogieman opened #7 "Create wallet\Login (Iguana Mode)"
**1. Passphrase for "Create an Iguana wallet" must be 24 words.**

![324f](https://cloud.githubusercontent.com/assets/16269033/19385094/8b2332a8-9215-11e6-8faf-9baeb940f33e.png)

**2. Login button must become enabled on successful passphrase input only.**

I login with passphrase "test" - gives error in gui but also starts coin. Error message says 24 words. Create account says 12 words.

![9913](h

[2016-10-14 20:18] imboogieman opened #8 "Create Wallet wrong flow"
When I press the create wallet button, I should see a list of wallets (coins) supported.
When I choose a wallet type, then I see a page with a generated passphrase.
Check the prototype flow
[9020652.zip](https://github.com/SuperNETorg/Iguana-GUI/files/530384/9020652.zip)

[2016-10-16 15:22] #6 closed

[2016-10-16 16:10] flamingice opened #9 "Add an in-app feedback tool"
Something that allows the user to create a screenshot, add some text, maybe paint onto the screenshot. This would be useful for the next few versions.

edit: A list of options: https://www.quora.com/Is-there-a-feedback-plugin-that-I-can-use-for-my-web-app

[2016-10-16 17:19] pbca26 commented on #9
This might be possible with just front-end but will be a while before and even if we can add such functionality.

[2016-10-16 17:22] sn-cloudpipes commented on #9
What does "a while" mean in this case?

On 16.10.2016 19:19, pbca26 wrote:

[2016-10-16 17:23] flamingice commented on #9
What does "a while" mean in this case?

[2016-10-16 17:30] pbca26 commented on #9
1) It requires an experimental library that doesn't always do a good work in capturing screenshots.
2) To be able to draw anything over a captured screenshot we need to add such functionality.
3) For smooth integration there as need for backend server that can "grab" feedback sent from within the gui.

There are certain apps or even browser extensions that you can leverage to capture sreenshots fo

[2016-10-16 20:19] flamingice commented on #9
http://blog.instabug.com/2015/06/6-reasons-why-in-app-feedback-is-a-must-while-beta-testing/

[2016-10-16 20:19] #9 closed

[2016-10-17 21:45] imboogieman opened #11 "Non-Iguna wallet passphrase generating step"
When I click on the create wallet button I see the passphrase generating page with the text that corresponds for Iguana type wallet creation. In couple of second the text changes to which is for Non-Iguana wallet creation.

[2016-10-17 21:50] imboogieman commented on #8
The login/create flow will be reworked for 0.1.1

[2016-10-17 21:50] #8 closed

[2016-10-18 10:04] pbca26 opened #12 "Responsive modals"
Modal needs to be responsive all the time.
When window width or height is changed it has to stay centred vertically and horizontally.
If modal content is exceeding screen height then the scroll bar has to appear.

Don't use css translate it will blur the modal in Safari (a known bug). Instead use js for all resize/reposition calculations.

[2016-10-18 16:59] imboogieman commented on #12
@ed888 @pbca26
`If modal content is exceeding screen height then the scroll bar has to appear.'
It is better to make content fields resizable without scrolling, but limited by right and down borders not to make it overlapping the modal edges. So if content is exceeding screen height, then the field adopts to it sizes along with the whole modal if needed. It is a better UX.

[2016-10-18 17:02] pbca26 commented on #12
@imboogieman what if your content is 500px height while your physical screen height is 300px? What to adopt here? You're basically short by almost 40% of screen space.

[2016-10-19 06:08] ed888 commented on #12
@imboogieman @pbca26 which direction should I follow ?

[2016-10-19 10:38] ed888 commented on #12
@pbca26

Which modal is preferable for you to use here?
In my opinion it's better to have the same everywhere.
http://i.prntscr.com/3d5171c8561d4474826037c8648afa3a.png

[2016-10-19 10:47] pbca26 commented on #12
@ed888 i leave it up to you to decide
if you opt for bootstrap then don't forget to rework all modals accordingly

boogieman's idea makes sense if there is enough space to squeeze elements so that there's no scrollbar needed
unfortunately it's not possible to follow that practice in all cases
so it would be good if calculations would account best of two worlds

[2016-10-19 10:51] ed888 commented on #12
@pbca26

 ok, thank you

[2016-10-19 16:08] imboogieman commented on #12
We need those forms for passphrases only, so I bet even the worst 24-word PP would never be  500px height. 300 px is for mobile,  presume, in that case it is better to stretch down the form out of the visible part, so a user can scroll the modal down not the content.

[2016-10-19 16:14] pbca26 commented on #12
what about send/receive/add wallet (coin)?
those are modals as well

[2016-10-19 16:28] imboogieman commented on #12
![](https://github.trello.services/images/mini-trello-icon.png) [Test Card](https://trello.com/c/xYOfTSNY/12-test-card)

[2016-10-19 19:49] imboogieman commented on #12
There is a mobile version screens, pls, see

[2016-10-21 08:30] pbca26 commented on #11
this should be fixed by now after the latest changes

[2016-11-03 09:31] pdrobek opened #13 "Polcoin"
Hi

I read info on reddit. Im representing polcoin dev team. Please include Polcoin in your wallet.

Thank you

[2016-11-03 12:45] pbca26 opened #14 "responsive design styling"
![screenshot from 2016-11-03 07 44 27](https://cloud.githubusercontent.com/assets/7769879/19965053/829ac6e2-a19b-11e6-9dfc-40c67a878bb0.png)
![screenshot from 2016-11-03 07 51 21](https://cloud.githubusercontent.com/assets/7769879/19965060/82c8c8b2-a19b-11e6-9964-d27756a1abf2.png)
![screenshot from 2016-11-03 07 53 29](https://cloud.githubusercontent.com/assets/7769879/19965059/82c7ff36-a19b-11e6-

[2016-11-03 12:47] pbca26 commented on #14
![dashboard-flow](https://cloud.githubusercontent.com/assets/7769879/19966424/1f132630-a1a2-11e6-8101-4fc847975770.png)
this is wrong

[2016-11-03 16:36] pbca26 commented on #14
probably we don't need blur effect on mobile
it has it's own context as @imboogieman says but if it's eating up resources we need to drop it

[2016-11-04 09:42] pbca26 commented on #14
Copuple more issues:
1) On mobile form headers (orange) are slightly shorter in height than on desktop. Check mobile and desktop mockups
2) On mobile some elements are w/ square borders not with round. For example a forenamed form headers, transaction unit top header (orange) w/ buttons.

[2016-11-15 15:29] #7 closed

[2016-11-15 15:29] #11 closed

[2016-11-18 10:07] imboogieman opened #16 "Test Card with some description"
Here is some info for the task

[2016-11-21 22:37] #16 closed

[2016-12-09 09:43] #12 closed

[2016-12-09 11:20] imboogieman commented on #13
@pdrobek
Thank you for your request.
As you know, we want to keep Iguana a trusted tool in the market, so we need to make sure all service we provide is secure enough for users.
Can you, pls, provide some fresh links to mentions in any credible resources and status update on the development of Polcoin core?

[2016-12-11 13:49] #14 closed

[2016-12-12 11:49] kashifali007 opened #19 "observing background image isn't available on production version of gui"
observing background image isn't available on production version of gui whereas dev version is working fine. without background image, gui looks blur and very hard to read the contents of login page.

snapshot is attached for your perusal.

Thanks,
-Kashif Ali

![iguana-gui](https://cloud.githubusercontent.com/assets/16662663/21098407/f5ee78f6-c08a-11e6-9947-6d7a28ed366a.png)

[2016-12-12 12:59] kashifali007 opened #20 "Error message should be thrown when an invalid passphrase is entered by user"
Error message should be thrown when an invalid passphrase is entered by user

Steps to reproduce:
1. Make sure you have latest code
2. gulp prod
3. open latest index.html in browser
4. start coind
5. create passphrase through coind cli
6. enter invalid passphrase through iguana gui
7. Click on login button

you will be observing here that no error message is thrown.

Expected result:

I guess an e

[2016-12-13 09:54] pbca26 opened #21 "Merge loginSelectCoinModalController and signupSelectCoinModalController"

[2016-12-13 14:55] pbca26 opened #22 "Add session destroy on electron app quit"

[2016-12-14 12:48] pbca26 commented on #19
@kashifali007 should be fixed by now
please pull the latest and let me know if the issue still persist

[2016-12-18 12:33] imboogieman opened #23 "Groom the readme file to make the text look neat."
- Make an ordered list Non-Iguana wallet requirements
- Structure the text

[2016-12-18 12:44] imboogieman opened #24 "Repo reordering"
Pls, merge to the main one:

https://github.com/SuperNETorg/Iguana-GUI-font

https://github.com/SuperNETorg/iguana-corsproxy

https://github.com/SuperNETorg/iguana-gui-tests

[2016-12-18 14:28] pbca26 commented on #24
@imboogieman
1) Font doesn't need merge. I separated it to keep iguana gui repo history clean.
2) corsproxy repo was created a day ago. It's solely proof-of-concept. Once we find a way to make it work on osx and windows I will delete it.
3) I suggest we keep UAT tests separately for now. Again, to keep iguana gui commit history clean. Besides Ali is still figuring out test stack.

[2016-12-19 09:09] imboogieman commented on #24
Ok, I see. Thank you.

[2016-12-19 09:09] #24 closed

[2016-12-21 12:11] kashifali007 commented on #19
verified-fixed. we can close it now

[2016-12-21 12:11] #19 closed

[2016-12-21 19:18] kashifali007 opened #26 "Accept button text isn't visible on Terms and Condition page"
Accept button text isn't visible on Terms and Condition page due to which its very hard to judge the purpose of that button.

**Steps to reproduce:**

1. Make sure atleast one coind is running
2. Navigate to folder where index.html exits and open it in any browser
3. Click on create wallet button
4. copy the passphrase text
5. Enter the passphrase when its asked
6. here you will be asked for term

[2016-12-23 18:39] kashifali007 opened #27 "user can create a wallet without passing gui generated passphrase"
user can create a wallet without passing gui generated passphrase. infact user can type own passphrase to create a wallet.

Steps to reproduce:
1. Run any coind without running encrypted wallet
2. open up index.html file
3. Click on wallet create button
4. You will be seeing gui generated passphrase, don't copy it, infact type your own passphrase
5. Hit enter Accpet button and you will observing a

[2016-12-23 18:42] kashifali007 opened #28 "User is unable to login if the wallet is created with user generated passphrase"
User is unable to login if the wallet is created with user generated passphrase.
This issue is the ripple effect of previous issue when user creates wallet with user generated passphrase instead of gui generated.

Steps to reproduce:
1. Run coind which you had created wallet
2. open up index.html file
3. click on login button and enter the passphrase which you typed to create wallet

Here you will

[2016-12-23 19:07] kashifali007 opened #29 "gui doesn't throw any error is passphrase is less 12 characters"
gui doesn't throw any error is passphrase is less 12 characters

Steps to reproduce:
1. run cond with encrypted wallet
2. open up the index.html in browser
3. click on login button
4. type passphrase less than 12 characters

you will be observing here no error message pop indicating what went wrong. it would be really hard for user to figure out the issue. so error message indicating real issue sh

[2016-12-23 20:16] imboogieman commented on #28
@kashifali007
Iguana or Non-Iguana Mode or both?

[2016-12-23 20:17] imboogieman commented on #29
@kashifali007
Iguana or Non-Iguana Mode or both?

[2016-12-24 10:01] pbca26 commented on #29
@kashifali007 probably user story hasn't been updated yet. Login screen only checks if passphrase field is longer than 1 character. We discussed it with @imboogieman several times already. Passphrase can be any length or complexity. The only thing that we agreed to verify is generated passphrase length on create wallet step.

[2016-12-26 19:25] pbca26 opened #30 "Chrome app bugs"
Mobile
1) Pages are unscrollable
2) Top menu styling is breaking
3) Top menu disappears in tx only mode view

Settings page throws an error and doesn't render

[2016-12-27 08:02] pbca26 commented on #30
@arkadig please review the list of bugs and let me know which one you can confirm on your end.

[2016-12-27 14:00] ed888 commented on #26
@kashifali007 @imboogieman
I have tested both on Google Chrome and Mozilla Firefox and couldn't reproduce the bug
http://i.prntscr.com/c17149750897404087b182ceaf0638a1.png  http://i.prntscr.com/6ebc735926dc4468bfe0f2e4ecf7a07c.png

Can you please test it again and inform me whether this is actual or not?
If it is please give me more details.

[2016-12-27 14:27] ed888 commented on #27
@kashifali007 @imboogieman I couldn't reproduce the above mentioned issue. Can you please test it again and make a short video if the issue is still actual?

[2016-12-27 15:44] imboogieman commented on #23
@ed888
see no changes
https://github.com/SuperNETorg/Iguana-application/commits/develop/README.md

[2016-12-28 05:54] ed888 commented on #23
@imboogieman will you please check it on this branch http://i.prntscr.com/51402edb14bd49b381122b73ee725fad.png
It hasn't been merged with develop yet.
If you still need changes, let me know please.

[2016-12-28 05:56] ed888 commented on #21
@pbca26 done, you may review

[2016-12-28 14:06] arkadig commented on #20
@kashifali007 I can't reproduce the issue you mentioned. I see those are already fixed.
please check again.

[2016-12-28 14:07] arkadig commented on #30
@pbca26 I reproduced only
1. Pages are unscrollable
I have fixed it , but don't think it's a best solution....
please check and let me know what you think.

can't reproduce 2. and 3.

[2016-12-28 19:29] #23 closed

[2016-12-29 15:00] satindergrewal commented on #1
pushed experimental commit with fix related to this issue:
https://github.com/SuperNETorg/iguana/commit/ffc6882cbdaa00b5081b1605967d5d439001aa18

testing and possible improvements required.

[2016-12-30 15:20] #30 closed

[2017-01-01 08:27] #21 closed

[2017-01-03 09:56] pbca26 opened #31 "Last row of coins is hidden/semi-hidden in add coin modal"
I'm unable to see all coins. Part of the modal is filled with gradient which prevents me from seeing bottom coins. This affects all resolutions.

![add-coin-modal-scroll1](https://cloud.githubusercontent.com/assets/7769879/21604370/e31ee230-d1b3-11e6-9bdd-379a17dcf77d.png)
![add-coin-modal-scroll2](https://cloud.githubusercontent.com/assets/7769879/21604376/ede4d7e2-d1b3-11e6-9b59-3b4dccb7fe6b.png

[2017-01-03 09:59] pbca26 commented on #31
Also, DEM container's height is bigger than other coins.

[2017-01-06 13:45] pbca26 commented on #20
@arkadig the issue still persist. Have a look, I have a bunch of errors in console and no error message at all.
![no-error-on-wrong-passphrase](https://cloud.githubusercontent.com/assets/7769879/21719531/6bb43bea-d42f-11e6-930a-015745690409.png)

[2017-01-09 07:59] arkadig commented on #20
@kashifali007 I am done with this. Can you please check it?

[2017-01-09 13:06] kashifali007 commented on #20
Hi @arkadig

Issue seems fix now but doesn't throw a meaning information. so I think we should fix this also.
![wrongpassphrase](https://cloud.githubusercontent.com/assets/16662663/21767478/463d0e82-d696-11e6-93bf-a476eb9926d2.png)

[2017-01-09 13:33] kashifali007 commented on #29
okay so generated passphrase will be min 12 characters long. but what if user want to create wallet with own generated passphrase? what would be the length of passphrase then? @pbca26 @imboogieman

[2017-01-09 15:00] pbca26 commented on #29
@kashifali007 this is not possible to do via gui. Only if you use qt wallet/iguana with curl or cli.

[2017-01-09 18:39] kashifali007 commented on #20
error message issue has been fixed however I'm observing another issue. i will log it separately @arkadig

cc: @pbca26 @imboogieman

[2017-01-09 18:39] #20 closed

[2017-01-09 18:43] kashifali007 opened #32 "An invalid error message is being thrown upon entering invalid passphrase"
to: @arkadig

An invalid error message is being thrown upon entering invalid passphrase. Now upon entering invalid passphrase gui throws an error indicating there are no daemons running but indeed daemons are running behind the scene.

The error message should be something like "Invalid passphrase, please try again" or "passphrase you just entered doesn't match" or "passphrase doesn't exit" could

[2017-01-09 18:45] kashifali007 commented on #28
@imboogieman both

[2017-01-09 18:55] kashifali007 commented on #27
@ed888

i can reproduce the issue. just type hello hello hello hello hello hello hello hello hello hello hello hello or any passphrase you like it but don't copy the gui generated passphrase and create the wallet. once wallet is to be created then you can login back with the same passphrase. it mean i can create wallet without gui generated passphrase

cc: @imboogieman @pbca26

[2017-01-09 18:58] kashifali007 commented on #29
@pbca26 i can create wallet with my own passphrase and login back as well

[2017-01-09 18:58] kashifali007 commented on #29
via gui

[2017-01-10 05:36] arkadig commented on #32
@kashifali007 ok, will go through

[2017-01-10 12:25] pbca26 commented on #29
@kashifali007 if that's true then it's a bug
users should be able to create their own passphrases via gui

[2017-01-10 12:41] pbca26 commented on #27
@kashifali007 yes i can do the same as well. Typed "1234" and gui accepted that passphrase on "create wallet verify passphrase" step. That's a major bug.

[2017-01-10 12:42] pbca26 commented on #26
looks fine
closing the issue

[2017-01-10 12:42] #26 closed

[2017-01-10 13:51] arkadig commented on #32
@kashifali007 done, please check

[2017-01-11 14:01] ed888 commented on #27
@kashifali007 It's done, please check.

[2017-01-11 14:55] pbca26 commented on #31
fixed
@ed888 @arkadig can you verify that both issues are fixed on your end?

[2017-01-11 17:26] kashifali007 commented on #32
@arkadig verified-fixed. closing it

[2017-01-11 17:26] #32 closed

[2017-01-11 17:34] kashifali007 commented on #27
verified-fixed. nice work!

[2017-01-11 17:34] #27 closed

[2017-01-12 05:35] arkadig commented on #32
@kashifali007 Thank you

[2017-01-12 05:52] arkadig commented on #31
@pbca26 Regarding DEM container I cannot test it as I don't have that coin.
I can see the shadow effect on the last row of the coins when the modal is fully scrolled down
http://i.prntscr.com/1244ca6be78346a68ad2aae8bac2b003.png

[2017-01-12 06:44] ed888 commented on #27
@kashifali007 thank you

[2017-01-12 09:18] pbca26 commented on #31
@arkadig thanks this part was left unnoticed. Added extra fix. Can you check one more time?

[2017-01-12 09:45] arkadig commented on #31
@pbca26 checked. It's fixed. Thanks

[2017-01-12 10:27] #31 closed

[2017-01-13 09:43] imboogieman commented on #13
Closed due to lack of credibility provided.

[2017-01-13 09:43] #13 closed

[2017-01-13 10:47] pbca26 opened #33 "Fee settings bar shows wrong info"
![doge-btc-fees](https://cloud.githubusercontent.com/assets/7769879/21927196/15e814fe-d996-11e6-9b0b-414593308ceb.png)
![btc-1-option](https://cloud.githubusercontent.com/assets/7769879/21927514/fca05af0-d996-11e6-9c54-de977d798882.png)

I can see all 4 fee options enabled with altcoins used as active coin. And vice versa, I bumped into an issue when BTC had only one option enabled all other 3 dis

[2017-01-13 12:17] pbca26 opened #34 "Create wallet in iguana mode doesn't work properly"
![create-wallet-iguana](https://cloud.githubusercontent.com/assets/7769879/21929688/2214521c-d9a3-11e6-9ed7-a7a602c11a18.png)

After I go through all "create wallet" steps in Iguana mode gui says that the wallet is encrypted. In reality I get a console error and see that encryptwallet API wasn't called at all. See screenshot for details.

Implementation is missing addcoin call. Without it the wall

[2017-01-13 12:40] pbca26 opened #35 "Chrome app shows flow modal in Iguana mode"
![chrome-app-iguana](https://cloud.githubusercontent.com/assets/7769879/21930308/68a5cd0c-d9a6-11e6-86fb-64728b1371e0.png)

It should not be displayed at all in Iguana mode. Only in coind.

[2017-01-14 09:41] pbca26 commented on #34
@kashifali007 can you verify the fix?

[2017-01-14 17:41] kashifali007 commented on #34
verifying..

[2017-01-15 12:18] pbca26 commented on #35
@arkadig i pushed chrome storage fix
could you verify that it's working on your end?

[2017-01-15 12:21] pbca26 commented on #34
@kashifali007 i added a fix to the issue you reported yesterday

please verify that it's fixed now

[2017-01-15 16:17] pbca26 commented on #33
@arkadig fixed. Can you verify it on your end?

[2017-01-16 06:23] arkadig commented on #33
@pbca26 it's fixed. Thanks

[2017-01-16 07:13] ed888 commented on #34
@pbca26 it works, thanks

[2017-01-16 08:19] #34 closed

[2017-01-16 08:19] #33 closed

[2017-01-16 12:19] arkadig commented on #35
@pbca26 I went through this and the main issue's fixed.
I have already fixed another issue so Chrome app needs to be published.
Another issue which I came across is that Receive and Send modals aren't opened in Chrome App about which I have written on chromedev channel.

[2017-01-16 14:13] #35 closed

[2017-01-18 11:59] arkadig commented on #29
@pbca26 @kashifali007 I think the ticket isn't already actual and it can be considered closed. Am I right or missing something?

[2017-01-18 12:29] arkadig commented on #28
@imboogieman @kashifali007 I tested this and got the following result: I tried to create  a wallet and typed my own passphrase. I got this error message: http://i.prntscr.com/6295f4d0233a48229523b945d576d835.png
 Is this ok? If yes the ticket can be consider not actual.

[2017-01-18 15:56] kashifali007 commented on #28
it can be closed basically this issued has been fixed. user you are not allowed to enter passphrase

[2017-01-18 15:56] #28 closed

[2017-01-22 14:54] pbca26 opened #37 "Layout break issues incl. resolution specific issues"
**Reference currency:**

- Issues with top padding on various resolutions. Text on the left side becomes invisible.
- _[Suggestion]_ Currencies are stacked in one column where they could take more space and make the page look compact.

**Modals:**

- 	Arrow back and close button X shift up/down depending on resolution. This is applicable to all modals.

**Send Coin:**

- _[Suggestion]_ Modal takes

[2017-01-24 05:13] ca333 commented on #1
fixed. linux and OSX don't freeze anymore.

[2017-01-24 12:00] rnr-ikt opened #38 "OS X (10.9.5): Blank screen after selected App (Iguana)"
After App-Select-Screen (Iguana OR EasyDEX) and selected Iguana i get a blank screen.

Not able anymore to access Iguana wallet. Dead. Restart not helped.
![blank_console](https://cloud.githubusercontent.com/assets/24645935/22246399/b4370f90-e22c-11e6-9ade-43749cb38a1a.png)
![selected](https://cloud.githubusercontent.com/assets/24645935/22246400/b46a7402-e22c-11e6-8c97-15a63f8dfaf6.png)

[2017-01-24 14:17] imboogieman commented on #38
Same problem on Windows x64. @satindergrewal defined it as a gui bug.

![iguana_blank_screen_on_windows_x64](https://cloud.githubusercontent.com/assets/16269033/22250674/d4118c38-e258-11e6-9c6c-
5f960481618f.png)

[2017-01-24 17:42] kashifali00 opened #39 "Observing blur screen when we add new daemon wallet through dashboard"
Observing blur screen when we add new daemon wallet through dashboard

steps to reproduce:

1. run daemons ( i was running two daemons sys and dogecoin)
2. Navigate to iguana gui
3. Login to wallet
4. Click on Add Wallet button
5. Click on Coin daemon >> when login passphrase text area will be visible, just click on back arrow button
here you will be observing blur screen

![lastestblur](https://c

[2017-01-24 19:45] satindergrewal commented on #38
I think I came across this issue with Iguana-GUI before.

In console use these commands
`sessionStorage.clear()`

`location.reload()`

See if that fixes the issue, and contact Iguana-GUI devs
If this fixes the issue, then maybe you need to check something with sessionStorage, which is causing the problem.

[2017-01-24 22:28] miketaz100 opened #40 "Iguana OS X dock icon is a bit large"
The icon is noticeably larger than all other apps on the dock. It's strictly an aesthetics issue but it should be looked at.

![screen shot 2017-01-24 at 5 25 32 pm](https://cloud.githubusercontent.com/assets/15162658/22269628/350167ce-e25a-11e6-9da0-3857369a7d8d.png)
![screen shot 2017-01-24 at 5 26 28 pm](https://cloud.githubusercontent.com/assets/15162658/22269653/4eb83ae4-e25a-11e6-8555-f36a77

[2017-01-25 07:45] rnr-ikt opened #41 "OS X: After installation ask "Do you want to open Iguana App now"?"
Please add the question after installation finish, if the user want to open/launch the app. Yes/No!

Yes => Open iguana

[2017-01-25 07:49] rnr-ikt opened #42 "Design: Logos and writings of "Iguana" or "iguana" are different!"
Make sure all logo styles and writings of "Iguana" or "iguana" or "IGUANA" are the same!

[2017-01-25 07:58] #42 closed

[2017-01-25 08:02] rnr-ikt opened #43 "What´s that spinning process? Name it..."
What this spinning process do? Syncing? Which mode? How long more? Which files? How many MB?

![spinning](https://cloud.githubusercontent.com/assets/24645935/22282462/76660fe2-e2d4-11e6-8679-fc2667509b71.png)

[2017-01-25 08:08] rnr-ikt opened #44 "Iguana-Wallet, Menu => EasyDEX => Link broken"
After click for switch to EasyDEX (at the menu) broken link:

"Cannot GET /gui/Iguana-GUI/index.htmlEasyDEX-GUI/index.html"

After that, need to close Iguana and open again!

![iguana_wallet_dex_link](https://cloud.githubusercontent.com/assets/24645935/22282583/4c116704-e2d5-11e6-96bf-7fc18ab1be9b.png)

[2017-01-25 08:16] rnr-ikt opened #45 "Wallet (KMD) => Added coin (BTC) => Logout => Login => BTC disappeared"
After I have logged in with my KMD wallet, added coin (BTC), logged out and logged in... the additional coin (BTC) disappeared (not saved).

![added coin disappeared](https://cloud.githubusercontent.com/assets/24645935/22282800/86173d1a-e2d6-11e6-92e6-11043a9c29e2.png)

[2017-01-25 13:19] ed888 commented on #39
@kashifali00 done, please test

[2017-01-25 17:55] kashifali00 opened #46 "Error message appearing indicating no daemon running despite running daemon"
Error message appearing indicating no daemon running despite running daemon. I guess this issue is appearing while running iguana core and daemon altogether.

Steps to reproduce:
1. run any coind
2. run iguana core
3. Click on login button

you will be observing error message
![Uploading error.png…]()

[2017-01-25 18:00] kashifali00 opened #47 "unable to login wallet running on coind if we run iguana core in parallel"
i came across an issue let me explain the scenario. I was running two daemons syscoind and dogecoind. created wallet on syscoind meanwhile ran iguana core as well. now click on login button and select syscoin from the list. when i enter passprase to login to syscoin wallet; observed that another wallet was created on iguana core for syscoin. issue here is that i should have login to wallet running

[2017-01-25 20:33] imboogieman opened #48 "Less coins shown in the list then supported"
I see only 15 coins shown in the list when creating a coin. By the moment Iguana must support 30 of them.
Pls, check the list (https://goo.gl/cGlRLg) to compare and fix.

![less coins shown in the list then supported](https://cloud.githubusercontent.com/assets/16269033/22308030/5f874f84-e356-11e6-952c-f632c23b92b4.png)

[2017-01-25 20:41] imboogieman opened #49 "Correct coins colors and coin cards styling."
Coins icon colour and styling is slightly different from ones on the resource files.

Now I see this.
![less coins shown in the list then supported](https://cloud.githubusercontent.com/assets/16269033/22308189/fe2a9b1e-e356-11e6-8d5b-aa1c6f76a541.png)

How they must look like
![reating_a_new_wallet_01_3_web](https://cloud.githubusercontent.com/assets/16269033/22308229/2e2b8698-e357-11e6-9a63-e2e8d

[2017-01-25 20:55] imboogieman opened #50 "Wrong creating an Iguana account flow"
To create an Iguana account

0. Given I chose Iguana mode
1. I click on the create account button
2. I see a generated 24-word passphrase
3. I confirm I have saved the passphrase
4. I provide the passphrase to encrypt Iguana account
5. An account is created
6. Now I can add other coins.

Step 01
![wrong creating an iguana account flow 01](https://cloud.githubusercontent.com/assets/16269033/2230916

[2017-01-25 21:30] imboogieman opened #51 ""Passphrase is copied..." wrong message popup"
**Wrong:**
Given I see a generate passphrase
When I highlight any symbol
or I click on the card with the passphrase
Then I see a message "Passphrase copied to clipboard "and all of the words for the passphrase""

![passphrase is copied wrong message popup](https://cloud.githubusercontent.com/assets/16269033/22309911/5d4a1ea6-e35e-11e6-8950-172f213a457e.png)

**Right:**
No message for any action up

[2017-01-25 21:52] imboogieman opened #52 "Wrong automatic passphrase entry"
**Wrong:**
Given I confirmed that I had saved a passphrase
When I am redirected to passphrase confirmation page
Then I see the passphrase is entered
And the next (create) button is enabled

![wrong automatic passphrase entry](https://cloud.githubusercontent.com/assets/16269033/22310830/96cb6254-e361-11e6-92a1-dfcdabb402ae.png)

**Right**
Given I am redirected to passphrase confirmation page
Then I

[2017-01-25 21:55] imboogieman opened #53 "Wrong proxy setup error message"
**Wrong:**
Given I am on passphrase confirmation
When I stay still for sometime (more than 60-100 seconds)
Then I see the proxy error message

![wrong proxy error message when in iguana mode](https://cloud.githubusercontent.com/assets/16269033/22310857/bf225afa-e361-11e6-868d-3d53ea5107bb.png)

**Right:**
No proxy setup error messages in Iguana mode

[2017-01-25 22:01] pbca26 commented on #48
@imboogieman Iguana Supported Coins != Iguana Core supported coins. 40 listed coins in the spreadsheet supported ONLY in coind mode.

these are all coins that IC supports https://github.com/jl777/SuperNET/blob/master/iguana/coins/allofus

[2017-01-25 22:18] pbca26 commented on #50
@ed888 modify the flow to preselect KMD as a default coin. At this point we restrict create wallet flow in iguana mode to force use KMD. Lets allow users to select multiple coins but they shouldn't be able to unselect KMD on create wallet step.

Let me know if you need to clarify this further.

[2017-01-26 08:18] ed888 commented on #50
@imboogieman @pbca26 done, please check

[2017-01-26 08:22] ed888 commented on #51
@imboogieman Done, please check

[2017-01-26 08:23] ed888 commented on #52
@imboogieman Done, please check

[2017-01-26 10:00] pbca26 opened #54 "Dashboard scrolls up on each update"
To reproduce open dashboard, make sure you have transaction history. Scroll to the bottom of the page. Wait until the next update is triggered. Expect page to be automatically scrolled to the top.

[2017-01-26 19:35] pbca26 opened #55 "Stuck at "Authentication error" message box"
To reproduce:
- login in iguana mode
- add coin(s)
- wait for some time
- logout
- (optionally) refresh page
- try to login again

Despite clicking on "Log out" the message box comes back again.

@ed888 I see similar issue in iguana electron app if I logout running Iguana mode. Sometimes it's just appearing second time after logging out. This is a serious blocker, please fix it ASAP!

[2017-01-26 19:37] pbca26 commented on #55
![auth-error](https://cloud.githubusercontent.com/assets/7769879/22347134/d0eee422-e417-11e6-9c61-4013155702d7.png)

@ed888 check the screenshot, I selected what Iguana responses back. My guess is that it's all related to the recent auth error issue I mentioned on Slack channel.

[2017-01-26 21:01] pbca26 commented on #43
@rnr-ikt partially fixed. Progress bar is added, now you should be able to check on syncing progress.

[2017-01-26 21:01] pbca26 commented on #48
@imboogieman can i close this down?

[2017-01-26 21:02] pbca26 commented on #44
@rnr-ikt fixed

[2017-01-26 21:07] satindergrewal commented on #41
I'm not sure if I can make it Yes/No open app, but I know I can make it just open after installation finishes. I'll still look for the yes/no option anyway.

[2017-01-26 21:10] satindergrewal commented on #6
I'm not sure if I can make it Yes/No open app, but I know I can make it just open after installation finishes. I'll still look for the yes/no option anyway.

[2017-01-26 21:11] satindergrewal commented on #41
@pbca26 please close this issue here.
I made it's under iguana repo:
https://github.com/SuperNETorg/iguana/issues/6

[2017-01-26 21:13] satindergrewal commented on #40
@pbca26 please close this issue here.
created it in it's relevant repo: https://github.com/SuperNETorg/iguana/issues/7

[2017-01-27 08:21] ed888 commented on #50
@imboogieman @pbca26 done, please check

[2017-01-27 08:27] ed888 commented on #55
@pbca26 done, please check

[2017-01-27 08:31] ed888 commented on #55
@pbca26 but the problem is that after closing the browser the session is removed and then when the same user opens the browser new authorization key isn't accepted by add coin method on Iguana
what do you think if I update the authorization key each time on Add Coin.

[2017-01-27 09:39] pbca26 commented on #41
@thanks

[2017-01-27 09:39] #41 closed

[2017-01-27 09:39] pbca26 commented on #40
@satindergrewal thanks

[2017-01-27 09:39] #40 closed

[2017-01-27 09:40] pbca26 commented on #55
@ed888 new key must be issued on each login

[2017-01-27 12:36] ed888 commented on #55
@pbca26 I think there should be some modifications in the Iguana core as it doesn't accept the new session key. can you please take care of this?
once the changes are applied I will do the corresponding changes in the gui.

[2017-01-27 13:13] ed888 commented on #55
@jl777 Can you please take a look at my last mentioned case?

[2017-01-27 16:21] imboogieman commented on #50
@ed888
**Wrong:**
Given I selected coins to add
When I proceed
Then the app kicks me out
And It shows the message the coins were created
And It asks to login.

**Right:**
Given I selected coins to add
When I proceed
Then the app shows the message the coins were created
And It logs me in
And I am redirected to the dashboard
And I see the coins I created/added on the dashboard

N.B.: Mind that now w

[2017-01-27 16:21] imboogieman commented on #50
@pbca26 did you push DIY progress bar yet?

[2017-01-27 16:29] imboogieman commented on #51
@ed888
Remains.

**Wrong:**
...
When I select the passphrase with the cursor
Or I click on the passphrase form
Then I see the message "Passphrase copied to clipboard"
And the value is saved to clipboard
And I can not call out an OS dialogue windows to apply "Copy" function (Ctrl+C is not working too I believe)

**Right:**
...
When I select the passphrase with the cursor
Then It is highlighted
And

[2017-01-27 16:32] imboogieman commented on #49
@ed888
Tested it with new changes.
Now icons remain with pale colours and arranged in columns by colours: yellow, blue, green, orange.

[2017-01-27 16:53] pbca26 commented on #50
@imboogieman yespatched it today

[2017-01-27 16:55] pbca26 commented on #49
@imboogieman that's an old coin font
we need to compile a new one or use svg for that
i'll try to add either option tomorrow
don't have an access to mac now

[2017-01-28 06:30] kashifali00 commented on #39
I can still observe this issue but randomly. so I mark this verfied-failed
![again blur](https://cloud.githubusercontent.com/assets/18286977/22394834/2ae20ab4-e54d-11e6-8efb-0cdc6c48777b.png)

[2017-01-28 06:39] kashifali00 opened #56 "observing NaN exception when try to send transaction"
observing NaN exception when try to send transaction

Steps to reproduce:
1. Git pull
2. Run latest index.html
3. Run iguana core with fully synced coin( i was running kmd coin)
4. Click on login button
5. Select KMD coin
6. Enter passphrase
7. On dashboard click on SEND button
 here you will be observing NaN under fee column. This issue isn't troubling much but doesn't feel good also.

snapshot i

[2017-01-28 09:29] pbca26 commented on #56
@kashifali00 fixed it yesterday. Try again.

[2017-01-28 09:52] pbca26 commented on #51
@imboogieman both issues should be fixed. Please verify.

[2017-01-28 10:12] pondsea commented on #12
Appdata too

[2017-01-28 10:17] pondsea commented on #12
Apparently this will be storing wallet data so should be retained. Closing.

[2017-01-28 11:38] satindergrewal commented on #9
aware of this issue.
also tried fixing it multiple times.
might just move the progress bar on top of the screen somewhere.

[2017-01-28 11:39] satindergrewal commented on #9
@pondsea also you are making all EasyDEX-GUI issues under Iguana Desktop Wallet repo???

[2017-01-28 11:40] satindergrewal commented on #11
I'm not calculating any percentage or values for progress bar. Everything is taken just as is from iguana API output.
Please request @jl777 for any changes in there.

[2017-01-28 11:42] satindergrewal commented on #13
yes will have add coin menu option disable under wallet menu.

[2017-01-28 23:56] pondsea commented on #9
Dammit i am it seems :( I will close them off and move them.

[2017-01-29 12:31] satindergrewal commented on #13
done.

[2017-01-29 12:32] satindergrewal commented on #14
solved in slack chat I think. looks permissions issue.

[2017-01-29 16:03] kashifali00 opened #57 "Next BUTTON on instruction gets disabled after crash recovery of iguana core"
Next BUTTON on instruction gets disabled after crash recovery of iguana core

steps to reproduce:

1. run iguana core
2  open index.html
3. add kmd coin and login to wallet
4. wait until you see all transactions
5. ctrl+c iguana core
6. log out from wallet
7. run iguana core again
8. click on login button
you will be observing instruction page with NEXT button disabled

[2017-01-29 18:32] kashifali00 opened #58 "Feature Request: There should be an error message when iguana gets crashed"
feature request: i just intentionally stopped iguana to see whether we have any crash message to report incase iguana crash suddently but I'm seeing gui is just trying to sync sync sync i guess we incase of iguana core crash we need to inform user that about the issue
![nocrashreport](https://cloud.githubusercontent.com/assets/18286977/22406789/27ee0176-e67b-11e6-83b7-8f51df4fb12a.png)

[2017-01-29 20:52] imboogieman commented on #57
@kashifali00 We have terminated coind wallet support for a moment. Instruction page concerns non-Iguana mode only. So I close this issue, as out of focus now.

[2017-01-29 20:52] #57 closed

[2017-01-29 21:04] imboogieman commented on #43
@satindergrewal are you going to implement EasyDEX features in this release? Shall we enable the link or hide it for the future release, when we implement fully tested exchange features?

[2017-01-29 21:04] imboogieman commented on #44
@satindergrewal are you going to implement EasyDEX features in this release? Shall we enable the link or hide it for the future release, when we implement fully tested exchange features?

[2017-01-29 21:06] #43 closed

[2017-01-29 21:09] #58 closed

[2017-01-29 21:11] imboogieman commented on #47
Closed as coinds mode support has been terminated for a period.

[2017-01-29 21:11] #47 closed

[2017-01-30 05:41] satindergrewal commented on #44
@imboogieman Let's keep the links alive and show 'Coming soon' there if the feature is in deveopment, or fairly coming soon. EasyDEX page of EasyDEX-GUI now says coming soon as I'm going to work on it after main release.
let me know what you think.

[2017-01-30 13:26] ed888 commented on #50
@pbca26 @imboogieman done the autologin part as well, please check

[2017-01-30 13:31] ed888 commented on #51
@imboogieman I tested this one, seems that @pbca26 fixed it. please check and close this ticket as well

[2017-01-30 16:31] kashifali00 opened #59 "wrong balance is being displayed when we get login to wallet"
wrong balance is being displayed when we get login to wallet

I understand this there is an issue with getbalance rpc if we call it for all accounts and i have informed relevant person to this but the balance on iguana gui also not correct. It should display balance of all account instead of one account.

For reference i had two accounts on iguana core

1. default this account is maintained for ch

[2017-01-30 18:04] satindergrewal commented on #9
Fixed this issue. fix coming in next commit update.

[2017-01-30 18:06] satindergrewal commented on #6
yes/no options are there for os x wizard as well. will be available in next release.

[2017-01-30 20:46] imboogieman commented on #39
closed as related to non-iguana mode.

[2017-01-30 20:46] #39 closed

[2017-01-30 20:55] #44 closed

[2017-01-30 20:59] imboogieman commented on #45
@rnr-ikt it was not saved, as now adding a coin works just for Full Node, so sync has started and you killed it by closing the app. Will be okay, when Lite mode is supported.

[2017-01-30 20:59] #45 closed

[2017-01-30 20:59] imboogieman commented on #46
Closed as related to non-iguana mode.

[2017-01-30 20:59] #46 closed

[2017-01-30 21:00] #48 closed

[2017-01-30 22:18] pbca26 commented on #55
quick update

[2017-01-30 22:28] pbca26 commented on #49
@ed888 I already added 40+ coin svg in color here https://github.com/SuperNETorg/Iguana-GUI-font/tree/master/svg/color
but I'm still waiting on anton to fix doge coin. I'll keep you updated when you can proceed with this task.

[2017-01-30 22:36] pbca26 commented on #59
@kashifali00 I'm not exactly following you. If you have two accounts per one coin there's no way Iguana GUI can display that. This feature, multi-account is yet to be coded. Please confirm if my understanding is correct.

Also, have you checked getaccountbalance rpc? Is it working correctly in Iguana Core or we need to use workarounds listunspent or else?

[2017-01-30 22:54] pbca26 commented on #38
@ed888 do you have an access to mac to look into this issue?

[2017-01-30 22:55] pbca26 commented on #52
closing, verified as fixed

[2017-01-30 22:55] #52 closed

[2017-01-31 03:49] satindergrewal commented on #8
1. that wasn't an issue.
2. will be done in next beta release. closing it here as it's Iguana Desktop repo.
3. Will have to think about it's logic and see if it's worth spending. That too will be considered for future features. This needs to be created as it's own issue on EasyDEX-GUI repo. closing here.
4. Removed it for now. Will be activated again in next beta releases soon.
5. The progress bar

[2017-01-31 07:16] ed888 commented on #38
@pbca26 I see the issue on my local, it isn't based on the OS
it depends on this variable $storage.activeCoin
it isn't used any more

[2017-01-31 07:16] ed888 commented on #49
@pbca26 thanks for the update

[2017-01-31 07:18] ed888 commented on #55
@pbca26 done, please check

[2017-01-31 08:00] arkadig commented on #37
@pbca26  Done, please check.

Regarding the passphrase modal I couldn't find this in the mockups.
http://i.prntscr.com/02233a48447f4a1e87eaa3ba36e05b46.png
I have followed this one according the invisionapp file
http://i.prntscr.com/8c7768b05b534df5aa65032e942f230a.png
Please, let me know if there is something to be changed

[2017-01-31 15:35] pbca26 commented on #37
@arkadig leave it. It's relevant to coind mode only.

[2017-01-31 18:10] kashifali00 opened #60 "Instruction page with Next button disabled appearing repeatedly"
Instruction page with Next button disabled appearing repeatedly

Just pulled the latest code and compiled and that issue has started appearing repeatedly. unable to do anything with login functionality. Please fix it asap.

Thanks,
-Kashif Ali
![instructionpage](https://cloud.githubusercontent.com/assets/18286977/22478110/728999f8-e80a-11e6-8634-397ca2381613.png)

[2017-01-31 18:11] kashifali00 commented on #60
I'm currently at here

commit 73132a5c569e1412a0495b89f70fed4143bcd30a
Author: pbca26 <pbca26@gmail.com>
Date:   Tue Jan 31 18:25:13 2017 +0300

    updated electron-temp.zip

[2017-01-31 18:45] pbca26 commented on #49
@ed888 added doge. https://github.com/SuperNETorg/Iguana-GUI-font
Make sure you use both fonts, svg for add coin modal and a regular b&w ttf for the sidebar and send coin modal.
You'd need to make modifications to gulp tasks as well.

[2017-01-31 19:13] pbca26 commented on #55
@ed888 better.

Couple issues:
1) Iguana Core is not a coin daemon. We need to change wording to something "looks like Iguana Core is not running". @imboogieman can you suggest?

[2017-02-01 00:24] imboogieman commented on #60
@

[2017-02-01 00:39] imboogieman commented on #51
@ed888 @pbca26 it remains at my side.
I uninstalled Iguana and deleted all the files related from Iguana App and Roaming Folders, and it both the message pops up. pls check.

[2017-02-01 00:43] imboogieman commented on #50
@pbca26 @ed888
I see the changes only in the header text.
The app stills kicks me out when an account is created and asks to login.

Double or triple or quadruple check before committing. It takes to track the same bugs over and over.

[2017-02-01 00:46] imboogieman opened #61 "Wrong login flow"
**Wrong:**
Given I have an Iguana account
When I login
Then I see a list of coins to add
And the page header "wallet type"

**Right:**
Given I have an Iguana account
When I login
Then I am redirected to the dashboard
And I see coins added to the account

[2017-02-01 01:03] imboogieman opened #62 "Login with wrong passphrase"
**Wrong:**
Given I have an account Iguana
When I provide a wrong passphrase
Then the next button become enabled
And I can proceed to the next step

![login with wrong passphrase_01](https://cloud.githubusercontent.com/assets/16269033/22491210/0450de00-e833-11e6-9d20-5f9f940e461b.png)
![login with wrong passphrase_02](https://cloud.githubusercontent.com/assets/16269033/22491211/045196ba-e833-11e6-9

[2017-02-01 01:10] imboogieman opened #63 "Iguana crashes on a second Full Node coin while sync"
Given I have added one coin in Full Node
And the coin is syncing
When I add another coin in Full Node
And It starts syncing
Then Iguana crashes
And I see the respective OS message

[2017-02-01 01:10] imboogieman commented on #63
@pbca26 not sure if I shall leave this issues for the GUI repo or for the Core.

[2017-02-01 01:17] imboogieman commented on #49
@pbca26 @ed888
what logic is applied for the coins order? From A to Z, from biggest in blockchain sizes to smallest? no logic? Pls, apply from A to Z.

But despite any logic, KMD must be placed the first in the top left corner, always.

[2017-02-01 07:12] ed888 commented on #51
@imboogieman I cannot reproduce the issue.
@pbca26 May this be because of the gulp ran issue? Am i right?

[2017-02-01 07:20] pbca26 commented on #63
@imboogieman forward this to core repo. It's not our domain.

[2017-02-01 07:25] ed888 commented on #50
@imboogieman ok, will chcek

[2017-02-01 07:25] pbca26 commented on #51
@imboogieman

please, name all steps that you taken after that

[2017-02-01 10:31] ed888 commented on #50
@imboogieman ohh, the message was wrong, now fixed.

[2017-02-01 12:00] imboogieman commented on #63
Replaced and closed as relates to the Core development.

[2017-02-01 12:00] #63 closed

[2017-02-01 12:28] imboogieman commented on #38
@rnr-ikt can you pls test if the issue is fixed or remains and report?

[2017-02-01 12:35] imboogieman commented on #51
@pbca26
1. I deleted the folder IguanaApp
2. I deleted Iguana related files form C:\Users\User\AppData\Roaming
3. I downloaded the exe from the repo.
4. I installed the app.
5. Changed the files in C:\Users\User\IguanaApp\resources\app\gui\Iguana-GUI for new ones
6. I opened the app
7. I press "create"
8. I clicked on the passphrase generated

[2017-02-01 17:30] pbca26 commented on #55
@ed888 can you specify here in a comment which of 3 points have you covered so far?

[2017-02-01 17:46] kashifali00 opened #64 "observing passphrase text area when i click on login button"
observing passphrase text area when i click on login button

steps to reproduce:

1. OPEN up the index.html in google chrome
2. click on Login button
here i see passphrase text area that i pasted above

[2017-02-01 19:08] kashifali00 opened #65 "invalid error message when iguana core isn't running"
invalid error message when iguana core isn't running and user try to create wallet.

1. don't run iguana core
2. open the index.html ( i m testing on prod version)
3. click on create wallet button
4. copy the passphrase and click on next button and verify the passphrase
5. select any coin doesn't matter
6. click on next button
7. click on Accept button if error message doesn't pop up then click on

[2017-02-02 07:47] ed888 commented on #55
@pbca26 I have changed the message showing method. Now for the next message it doesn't open a new modal, simply the text is changed. With my last commit I completed the above mentioned 3 points.

[2017-02-02 11:37] imboogieman commented on #51
@pbca26 @ed888
Now running Iguana and open index.html in the browser, and it remains.

![passphrase is copied wrong message popup_01](https://cloud.githubusercontent.com/assets/16269033/22547933/23880ef6-e955-11e6-81b8-f98de56e6572.png)

[2017-02-02 13:43] ed888 opened #66 "Iguana Mode - balance doesn't work for KMD"
Steps to reproduce:

Given I turned on Iguana API
Register with KMD (native, lite, full)
Sent receive code to Roman in order to receive coins for my KMD account
I can see the successful transaction on https://kpx.io/ but 0 on my GUI balance.
![screenshot_4](https://cloud.githubusercontent.com/assets/22639263/22587406/f7bdf152-ea1a-11e6-8a31-42d806279841.png)

[2017-02-02 14:11] ed888 commented on #66
![screenshot_3](https://cloud.githubusercontent.com/assets/22639263/22552606/0ef59b98-e973-11e6-896e-371865a381fe.png)

[2017-02-02 17:37] kashifali007 opened #67 "observing NaN exception on SEND coin functionality"
observing NaN exception on SEND coin functionality

steps to reproduce:
1. Login to KMD wallet
2. Make sure you have UTXO
3. Click on SEND button available on dashboard

on SEND button form you will be observing nan under FEE: column

snapshot is attached for your perusal.

-Kashif Ali
![nanonsend](https://cloud.githubusercontent.com/assets/16662663/22560937/2b7a575c-e998-11e6-9be8-05d09550d124.pn

[2017-02-02 19:16] pbca26 commented on #66
@ed888 you need to provide more info. It's not enough to understand what's the issue.
First of all compare your wallet's address curl vs gui. Is it the same? Do you have several KDM accounts on Iguana wallet?

[2017-02-03 11:11] imboogieman commented on #53
The  bug remains, the text of the error message now different )

![wrong proxy setup error message_01](https://cloud.githubusercontent.com/assets/16269033/22589284/995b6b80-ea1a-11e6-8913-fba5ad71292f.png)

[2017-02-03 11:20] imboogieman opened #68 "Replace Komodo card on the coins list"
Remove Komodo coin card to the top left corner, so it is more visible for users.

[2017-02-03 11:20] #51 closed

[2017-02-03 11:30] #50 closed

[2017-02-03 11:49] imboogieman opened #69 "Coin adding button becomes disabled"
**Hor to reproduce:**

1. I created an account
2. I added KMD in lite mode
3. I added BTC in lite mode
4. I stayed still for some time
5. I clicked settings tab
6. When I got back to dashboard tab
7. Then I saw the add-a-coin button disabled

![coin adding button becomes disabled_01](https://cloud.githubusercontent.com/assets/16269033/22590104/ae59c5b4-ea1e-11e6-858b-a8053b7fd7e4.png)

[2017-02-03 11:51] imboogieman commented on #60
@arkadig pls check this one, it correlates with #61

[2017-02-03 11:52] imboogieman commented on #61
@arkadig pls check the referenced issue

[2017-02-03 12:19] ed888 commented on #66
@pbca26
_wallet's address curl vs gui. Is it the same?_
yes, that's the same
_Do you have several KDM accounts on Iguana wallet?_
how can I check this ?

[2017-02-03 13:10] arkadig commented on #60
@kashifali00 please let me know the sequence of the steps so that I am able to reproduce
thanks

[2017-02-03 20:37] pbca26 commented on #66
@ed888

use bitcoinrpc, method listaccounts

[2017-02-04 16:56] pbca26 commented on #69
@imboogieman added a possible fix

[2017-02-04 16:57] pbca26 commented on #67
@kashifali007 it was due KMD not being listed on any exchange. Closing.

[2017-02-04 16:57] #67 closed

[2017-02-04 16:58] pbca26 commented on #68
verified, closing

[2017-02-04 16:58] #68 closed

[2017-02-04 17:01] pbca26 commented on #65
@kashifali00 can you try again and see if the issue still persists?

[2017-02-04 17:02] pbca26 commented on #49
verified, closing

[2017-02-04 17:02] #49 closed

[2017-02-04 17:03] #56 closed

[2017-02-04 19:01] pbca26 commented on #37
@arkadig I need to run a full test to see if there's anything else left before I close the issue. Probably I'll do that next week.

[2017-02-05 14:28] kashifali007 commented on #65
though that issue has been fixed but I'm observing error message look like iguana core is running pop up despite running the iguana core and it's coming randomly.

snapshot is attached

![error](https://cloud.githubusercontent.com/assets/16662663/22626912/380040ca-ebd9-11e6-8f89-d0b600c7e6ce.png)

[2017-02-05 15:28] kashifali007 opened #70 "Enhancement: we should display kmd to USD price upto 2 decimal point"
Though conversion between KMD to USD seems correct but the total balance in USD is being displayed upto 17 decimal point which i think doesn't look pretty and which should become upto min 2 and max 4 decimal points.

snapshot is attached
![floatingpoint](https://cloud.githubusercontent.com/assets/16662663/22627271/a37eda84-ebe1-11e6-82f2-aa30a6b5979c.png)

[2017-02-05 16:53] pbca26 commented on #70
![rounding](https://cloud.githubusercontent.com/assets/7769879/22627942/80b366b4-ebdc-11e6-87af-a5e75b6481dc.jpg)

@kashifali007 rounding to 2 decimal places doesn't cover all cases. This is what I have on my end. If we apply your logic then I will only see 0.00 balance.

Anyway, I added a workaroud. Let me know if it will fix the issue on your end.

[2017-02-06 07:44] arkadig commented on #62
@pbca26 you have commented out this part of the code
https://github.com/SuperNETorg/Iguana-application/blob/0.3/js/controllers/loginController.js#L365
can you please explain me why ?

[2017-02-06 07:56] arkadig commented on #54
@pbca26 @imboogieman Fixed, please check.

[2017-02-06 07:58] arkadig commented on #61
@imboogieman @pbca26 please check

[2017-02-06 08:13] ed888 commented on #53
@imboogieman I am not able to reproduce this. Can you please check and let me know if it is still actual.

[2017-02-06 10:12] ed888 commented on #66
@pbca26
I logged in with the same passphrase
did an API call with the url and userpass http://127.0.0.1:7778/api/bitcoinrpc/listaccounts?userpass=52fdfb46d171c16a13e495a5e2c5a8be&minconf=1&includewatchonly=1
this is the response of the call {"result":{"default":0},"tag":"370298723293693580"}

[2017-02-06 10:23] ed888 commented on #55
@pbca26 done, please check

[2017-02-06 14:03] arkadig commented on #64
@kashifali00
here are the steps I underwent
1.opened up the index.html in google chrome
2.clicked on Login button
3.wrote smth in the test area
3.clicked on the back button
4.clicked on the login button again
5.saw my filled in passphrase
I made it so that after clicking on  the back button the text area becomes empty

please confirm if this was an issue and if yes, please test and let me know

[2017-02-06 18:03] pbca26 commented on #62
@arkadig we don't need to check passphrase length on login as it can vary. What we should do is generate a strong passphrase for users on create wallet UI. I think you misunderstood boogieman or his instructions weren't clear enough.

[2017-02-06 18:49] pbca26 commented on #66
@ed888 make sure you're running full node mode. Also, try to resync KMD coin from the scratch. Sometimes you can experience weird behaviour in Iguana Core.

[2017-02-06 19:17] pbca26 commented on #54
@arkadig please don't forget to mention a ticket number in your commit. So we can track down what work has been done on a particular ticket.

[2017-02-07 05:37] arkadig commented on #54
@pbca26 ok, will mention the number from now on.

[2017-02-07 06:28] ed888 commented on #66
@pbca26 I will try to resync. I will post here about the results.

[2017-02-07 06:32] pbca26 commented on #54
verified, closing

[2017-02-07 06:32] #54 closed

[2017-02-07 09:36] arkadig commented on #62
@pbca26 Now it's clear. Thank you.

[2017-02-07 10:33] kashifali007 commented on #60
steps to reproduce:
1. Make sure you are not running iguana core and any other daemons
2. Open up the index.html in browser
3. click on login button

After executing step(3), you will be observing instruction page indicating no daemon running.

[2017-02-07 13:02] ed888 commented on #66
@pbca26 I see the balance with full mode

[2017-02-07 16:32] pbca26 commented on #66
@ed888 great. Can I close the issue? Basilisk is another story.

[2017-02-07 16:36] pbca26 commented on #60
@ed888 your "issue" seems to me "by design". If no backend is responding then it's correct behaviour. If Iguana Core is not detected then gui automatically runs coind mode.

[2017-02-07 17:01] pbca26 commented on #60
I noticed another issue if no backend is running.
steps to reproduce:

- Make sure you are not running iguana core and any other daemons
- Open up the index.html#/signup in browser
- Observe that gui is allowing you to traverse between create wallet steps

@arkadig please have a look and fix the issue. Expected behaviour is to show the flow modal. Users should not be permitted to access login/crea

[2017-02-07 17:02] pbca26 commented on #65
@kashifali00 can you double check if the issue still persists?

[2017-02-07 18:44] pbca26 commented on #62
closing
hopefully this issue won't arise again

[2017-02-07 18:44] #62 closed

[2017-02-07 18:46] pbca26 commented on #61
verified, closing

[2017-02-07 18:46] #61 closed

[2017-02-07 18:50] pbca26 commented on #38
@imboogieman could you ask anton to check iguana app under osx? 0.1.2-beta
i won't have an access to mac until the end of the month
if he reports no "blank sceen" then we can close the issue

[2017-02-07 19:43] pbca26 commented on #37
@arkadig I ran the test. Looks better now but still some issues. I will update this ticket tomorrow morning/evening with new batch of screenshots.

[2017-02-07 21:55] #53 closed

[2017-02-07 22:01] #55 closed

[2017-02-08 06:02] ed888 commented on #66
@pbca26 sure

[2017-02-08 06:09] #66 closed

[2017-02-08 06:19] pbca26 commented on #22
verified, closing

[2017-02-08 06:19] #22 closed

[2017-02-08 06:26] arkadig commented on #60
@pbca26 I will check and fix it
thank you

[2017-02-08 16:44] satindergrewal commented on #16
## Possible fix

#### For windows:
1. Close App
2. Open Task Manager
3. Look for processes with name **Electron.exe** and **iguana.exe**
4. If found kill these processes
5. Once sure, processes are killed, open app again. should be working.

#### For OS X:
1. close app
2. Open Terminal
3. run these commands

`ps aux | grep iguana`
the above will show either 1 line output or more

4. if more execut

[2017-02-08 17:41] pbca26 commented on #37
@arkadig here is a new batch of screenshots [responsive issues part2.zip](https://github.com/SuperNETorg/Iguana-application/files/761464/responsive.issues.part2.zip)

I highlighted issues on the screenshots and left some comments as well.
Here are extra details as well:
**Add coin** - coin icons are half invisible, too much padding on top of tiles, possible issues with modes selector buttons
**Con

[2017-02-08 18:29] kashifali007 commented on #59
@pbca26 getbalance rpc has an issue and its not working properly in iguana core. Fadedreamz is working on this issue. so this isn't GUI issue infact its an iguana core issue. you can mark it close.

[2017-02-09 06:01] #59 closed

[2017-02-09 22:22] flamingice opened #72 "guide incomplete"
The guide is not complete. Imagine someone who tries it the first time should follow it.

[code]

[2017-02-10 10:41] arkadig commented on #60
@pbca26 it's done, please check

[2017-02-10 19:06] pbca26 commented on #60
@arkadig it gives me an error now but I can still access create wallet page if I enter url manually. Also, I'm still able to traverse between create wallet steps. I expect to see the flow modal.

[2017-02-11 18:40] satindergrewal commented on #11
I noticed the bundles and blocks are in case getting RT blocks, bundles percentage might go less or more. I think it's by design calculating things like that. All matters is the full mode in RT mode, and showing contents and working expectedly.

Please open this issue again by commenting if you still face any issue, like being in RT, and percentage change and not able to do usual wallet actions. I

[2017-02-13 16:42] imboogieman commented on #60
@arkadig can you just remove this page from the files?
we have terminated coind support. why is this page sitting in the GUI files still?

[2017-03-12 10:37] pbca26 commented on #35
@ronniem1 currently there's no way to remove a coin from the wallet app. It's a blocker on a backend side.

[2017-03-25 15:19] satindergrewal commented on #68
This seems tricky to solve. The ideal solution would be to specify path to Agama application on execution, just like with QT wallets.

like `Agama -agamadatadir="/mnt/customAgamaDir/" -komododatadir="/mnt/customKomodoDir"`

Using absolute path in parameters.

[2017-03-25 15:22] satindergrewal commented on #67
@AudoKryptowitz for that just don't use installers.
Use zip files. Extract wherever you want, and execute Agama from the extracted directory.

[2017-03-26 05:46] satindergrewal commented on #67
@AudoKryptowitz The new installers must be able to use custom installation location.
@pedjaman told this feature has been available in test installers from weeks. So, the new installers which are public must have this feature.

Please test the custom location in Installers and verify if all works well.
Once Verified it's good, please close this issue.
Else just update if there is any problem with

[2017-03-28 08:35] satindergrewal commented on #74
Fixed in latest commit to github. WIll be shipped with next version.
For temp fix, make a file `config.json` in `%AppData%/Iguana/` with these contents.

Linux: `~/.iguana/config.json`
OSX: `~/Library/Application Support/iguana/config.json`

[code]

[2017-03-28 17:42] pbca26 commented on #58
https://files.slack.com/files-pri/T02LAJBUW-F4QGP9LE8/screen_shot_2017-03-28_at_01.58.13.png

[2017-03-29 14:00] satindergrewal commented on #7
New Agama Wallet dock icon is smaller. If any other perfectionist request, please reopen this one again or make a new one.

[2017-03-29 14:05] satindergrewal commented on #48
need steps to replicate.

[2017-03-29 14:05] satindergrewal commented on #49
Please test with latest Agama Wallet and reopen this issue again.

[2017-03-29 14:13] satindergrewal commented on #55
This issue is fixed in latest builds of Agama Desktop Wallet.
Please test and reopen this issue again if you still find any problems.

[2017-04-25 17:03] pbca26 commented on #48
confirmed
max active coin limit is going to be set to 6
so only 6 coins per sessions

[2017-04-30 13:15] pbca26 commented on #68
@AudoKryptowitz separating individual blockchain data is not possible. We don't interfere with native daemons flow. All data goes either into .iguana or .komodo folder. Moving those folders can break normal functioning.

[2017-05-20 16:50] rolfedh opened #74 "Create /doc subfolder and set up readthedocs within it."

[2017-11-08 03:10] siddhartha-komodo commented on #72
I'm working to create a Komodo master whitepaper, which will include any necessary info about Iguana.

If you know of any more up-to-date information than what we have here, let me know please. Thanks.

[2017-11-23 12:53] lenondupe opened #75 "Add Ledger support"
The Ledger companion wallet for Komodo suffers from the lack of an important Komodo-specific feature that allows KMD holders to claim interest. It does not seem like Ledger will be implementing anything soon. Ledger CTO recently stated on their slack channel regarding a question about this issue: "we don't have the dev bandwidth to do that in the near future". They also don't want to work on it be

[2017-11-23 13:38] pbca26 commented on #75
Thanks for suggestion. I'm aware of it.
I haven't played with Ledger before. How does it send transactions? Do they have an interface for that? Where do those transactions go? I assume to Ledger specific end points/servers?

[2017-11-23 13:48] lenondupe commented on #75
So the Ledger does not send the transaction, that's the responsibility of the companion wallet application. The Ledger device is purely for signing your transaction, because it alone knows the secret key. The idea is that the wallet (iguana/agama) prepares the transaction and just hands it off to the device to be signed. Once the user approves the transaction by pressing the buttons on the device,

[2017-11-23 13:52] pbca26 commented on #75
Are you saying it's possible to send/receive data between js app and ledger firmware?

[2017-11-23 13:59] lenondupe commented on #75
Exactly. The NodeJS API I linked is a communication library for the device app.

So the application flow would be something like this:
1. You have a separate button on the sign in page that let's you use the Ledger device. Something like 'Sign in with Ledger'. You can check the device connection with the NodeJS API. You can have a callback or something that gets called once the API detects the dev

[2017-11-23 14:03] pbca26 commented on #75
https://github.com/lenondupe/stellar-ledger-api/blob/master/src/stellar-ledger-api.js

[2017-11-23 14:04] pbca26 commented on #75
could you explain where do i get all those hex values? Is it described somewhere in docs or reference materials?

[2017-11-23 14:07] lenondupe commented on #75
So in your case you would need this one because it is for the blue-app-btc which supports Komodo: https://github.com/LedgerHQ/ledger-node-js-api/blob/master/src/ledger-btc.js

It's not necessary to dive in deep and understand the device communication logic exactly although if you need it I can give you some hints. You should just be able to use the above library as a black box.

[2017-11-23 14:08] pbca26 commented on #75
Thanks a lot. I will definitely look into that.

[2017-11-23 14:38] CHMEX commented on #75
Thank you both! It would be a very nice solution.
Michael

[2017-11-25 22:13] Zeehenk commented on #75
Would be great of this could be solved!

[2017-11-27 17:18] pbca26 commented on #75
@lenondupe i have a question about creating and signing a tx. createPaymentTransactionNew_async doesn't have any output values in args list, only output script. How can I specify output amount? I assume I need to write something similar to yours signTx_async ?

[2017-11-27 17:52] lenondupe commented on #75
@pbca26 TBH I have no idea, sorry. I'm not familiar with Bitcoin transactions. The code looks a lot more complicated than what I had to do. Best way to get help on that is ask on their slack channel: https://ledger-dev.slack.com/ They are usually quite responsive.

[2017-11-27 18:44] pbca26 commented on #75
@lenondupe thanks will try to get an invite there.
Another question how do I run the code in browser mode? Compile through browserify?

[2017-11-27 18:57] lenondupe commented on #75
@pbca26 Yes, there is something about that in the README, but it's not complete.
Couple of things: 1) you need to serve the page over https 2) you need a u2f supporting browser (Chrome or Opera) 3) you need to enable browser support on the Ledger app itself by going to Settings > Browser support.

I found [this](https://gist.github.com/dergachev/7028596) to be very helpful. For instance run that i

[2017-11-27 19:00] lenondupe commented on #75
@pbca26 Also if you fail to get an invite let me know. I'll ask them to add your email.

[2017-11-28 12:07] Zeehenk commented on #75
FYI: https://github.com/LedgerHQ/ledger-nano-s/issues/21
Posted by lead dev of KOMODO.

[2019-08-15 00:56] #74 closed